.menu-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 70px;

  .menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 0 auto;
    max-width: 768px;

    & > a {
      display: grid;
      align-content: center;
      justify-items: center;
      width: 50px;
      height: 50px;
      color: white;
      background-color: var(--redVermilionBird);
      z-index: 2;
      border-radius: 50%;
      transition: all 400ms;
      overflow: visible;

      &.active {
        position: relative;
        box-shadow: 0 8px 12px #00000080;
        transform: translateY(-25%);
      }
    }
  }
}

.bottom-menu {
  background-color: var(--redVermilionBird);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-radius: 8px 8px 0 0;
  clip-path: url(#menumask);
}

.svg-animation {
  position: absolute;
  height: 60px;
  left: 0;
  top: 0;
  transition: all 400ms;
  width: 25%;
  display: grid;
  justify-items: center;

  &[class^="column-"] {
    transition: all 400ms;
  }

  @for $i from 1 through 4 {
    $left: (25% * $i) - 25%;
    &.column-#{$i} {
      left: $left;
    }
  }

  & > svg {
    align-self: center;
    justify-items: center;
  }
}

