.menu-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	height: 70px;

	.menu {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
		margin: 0 auto;
		max-width: 768px;
		position: relative;

		mask-composite: exclude;
		-webkit-mask-composite: destination-out;

		& > a {
			display: grid;
			align-content: center;
			justify-items: center;
			width: 50px;
			height: 50px;
			color: white;
			background-color: var(--redVermilionBird);
			z-index: 2;
			border-radius: 50%;
			transition: all 400ms;
			overflow: visible;

			&.active {
				position: relative;
				box-shadow: 0 8px 12px #00000080;
				transform: translateY(-25%);
			}
		}
	}
}

@mixin mask {
	clip-path: url("#menuMask");
}

// TODO: Arrumar a animação do menu
.svg-animation {
	@import '../../../styles/globals.scss';

	position: absolute;
	width: 100%;
	height: 70px;
	margin: 0 auto;
	left: 0;
	top: 0;
	transition: all 400ms;
	display: grid;
	justify-items: center;
	place-items: center;

	& > div {
		display: block;
		margin: 0 auto;
		width: 80px;
		height: 70px;
	}

	@media (min-width: 0) {
	}
	@media (min-width: 375px) {
	}

	@media (min-width: #{map-get($breakpoints, "sm")}px) {
	}

	@mixin afterBefore {
		content: "";
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		background-color: var(--redVermilionBird);
	}

	&::before {
		@include afterBefore();
		right: calc(100% - 1px);
	}

	&::after {
		@include afterBefore();
		left: 0;
	}

	&[class^="column-"] {
		transition: all 400ms;
	}

	@for $i from 1 through 4 {
		$left: (25% * $i) - 25%;
		&.column-#{$i} {
			left: $left;
		}
	}

	& > svg {
		width: 80px;
		height: 70px;
		margin: 0 auto;
	}
}

