.menu-wrapper {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 5;
		height: 70px;
		background-color: var(--redVermilionBird);
		border-top-left-radius: var(--radii-sm);
		border-top-right-radius: var(--radii-sm);

		.menu {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				justify-items: center;
				margin: 0 auto;
				max-width: 768px;
				position: relative;

				mask-composite: exclude;
				-webkit-mask-composite: destination-out;

				& > a {
						display: grid;
						align-content: center;
						justify-items: center;
						width: 50px;
						height: 50px;
						color: white;
						background-color: var(--redVermilionBird);
						z-index: 2;
						border-radius: 50%;
						transition: all 400ms;
						overflow: visible;

						&.active {
								position: relative;
								box-shadow: 0 8px 12px #00000080;
								transform: translateY(-25%);
						}
				}
		}
}
