.header {
  display: grid;
  grid-template-columns: auto 48px;
  place-items: center;

  padding: var(--padding-sm);

  > h1 {
    display: flex;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    gap: var(--spacing-xs);
  }
}