.header_top {
  @import "../../../styles/globals";

  display: grid;
  grid-template-columns: 48px 1fr;
  height: 40px;
  border: 1px solid #{$DeepGray}20;
  justify-content: flex-start;
  align-items: center;
  place-items: center;

  & > h1 {
    font-size: 20px;
    color: var(--DeepGray);
    font-weight: normal;
  }
}

