@import 'mixins';

@mixin flex-column {
		display: flex;
		flex-direction: column;
}

@mixin flex-row {
		display: flex;
		flex-direction: row;
}

@mixin flex-center {
		align-items: center;
		justify-content: center;
}

@mixin mui-btn-reset {
		text-transform: initial;
		font-size: pxToRem(16px);
		font-weight: 500;
}

@mixin btn-reset {
		text-transform: initial;
		font-size: pxToRem(16px);
		font-weight: 500;
		background-color: transparent;
		border: none;
}
