@import url('https://v1.fontapi.ir/css/SFProDisplay');
@import '_colors.scss';

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, {
  font-family: 'SF Pro Display', sans-serif;
}

:root {
    --redVermilionBird: #E92F48;
    --BlackTortoise: #424242;
    --DeepGray: #7E8389;
    --ToGoContainer: #F2F2F2;
    --YellowDragon: #FFC107;
    --SilverSycee: #A0A8B1;
    --BronzeRitual: #D97953;

}