@import './src/styles/colors';
@import './src/styles/variables';

.restaurant-search {
	$buttonSize: 40px;
	display: grid;
	grid-template-columns: #{$buttonSize} auto;
	align-items: center;
	justify-content: stretch;
	padding: var(--padding-sm);
	gap: var(--spacing-xs);

	> div {
		display: grid;
		grid-template-columns: calc(100% - #{$buttonSize}) #{$buttonSize};
		justify-content: flex-end;
		gap: var(--spacing-xs);
		margin-left: var(--spacing-xs);

		.search-field {
			width: 0;
			display: grid;
			justify-content: stretch;
			align-items: stretch;
			opacity: 0;
			pointer-events: none;
			transition: all 200ms ease-in;
			transform-origin: right center;

			&.active {
				width: 100%;
				opacity: 1;
				pointer-events: initial;
			}
		}
	}
}

.restaurant-info {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0 var(--padding-sm);

	> h1 {
		font-family: 'Bluu Suuperstar', serif;
		line-height: 18px;
	}

	> p {
		display: flex;
		gap: var(--spacing-xs);
		margin: var(--spacing-xs) 0;

		> small {
			position: relative;
			color: #{$DeepGray};
			font-size: 15px;

			&:not(&:last-child)::after {
				content: "\2022";
				margin-left: var(--spacing-xs);
			}
		}
	}

	> div {
		display: flex;
		gap: var(--spacing-xs);

		> span {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #{$ToGoContainer};
			padding: 2px var(--padding-xs);
			border-radius: var(--radii-md);
			gap: var(--spacing-xs);
		}
	}
}

.restaurant-ranking {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--spacing-sm);
	margin: var(--spacing-md) 0;
	padding: 0 var(--spacing-sm);


	> div {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-sm);
		align-items: stretch;

		> span {
			background-color: #{$ToGoContainer};
			border-radius: var(--radii-sm);
			text-align: center;
		}
	}

	.avatars-group {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.full-ranking-btn-wrapper {
	padding: var(--padding-sm);
	display: grid;

	> button, > a {
		font-size: 18px;
		font-family: 'SF Pro Display', sans-serif;
		text-transform: initial;
		font-weight: normal;
		line-height: 20px;
		align-items: center;
		justify-content: space-between;
		box-shadow: none;
		background-color: #{$ToGoContainer};
	}
}

.popular-foods {
	border-top: 1px solid #{$ToGoContainer};
	border-bottom: 1px solid #{$ToGoContainer};
	padding: var(--padding-md) 0;
	margin: var(--spacing-md) 0;

	> h1 {
		margin: 0 var(--spacing-md);
		font-size: 24px;
	}

	.horizontal-scroll {
		display: grid;
		align-items: center;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;

		@include styled-scrollbar();

		> div {
			display: flex;
			flex-wrap: nowrap;
			flex-shrink: 0;
		}

		.popular-food-card {
			scroll-snap-align: start;
			width: 90vw;
			padding: var(--padding-sm) 0 var(--padding-sm) var(--padding-md);
			display: flex;
			flex-direction: column;

			> span {
				border-radius: var(--radii-sm);
			}

			> h2 {
				margin-top: var(--spacing-xs);
			}
		}
	}
}

.food-menu {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);

	.food-menu-horizontal-scroll {
		display: flex;
		flex-wrap: nowrap;
		flex-shrink: 0;
		padding: 0 var(--padding-md);
		padding-bottom: var(--padding-xs);
		overflow-x: scroll;
		@include styled-scrollbar();

		> div {
			display: flex;
			gap: var(--spacing-xs);

			> button {
				white-space: nowrap;
				text-transform: initial;
				color: #{$DeepGray};
				font-size: 18px;
				font-family: 'SF Pro Display', sans-serif;
				font-weight: bold;

				&.active {
					color: #{$BlackTortoise};
				}
			}
		}
	}

	.menu-section {
		padding: 0 var(--padding-md);

		padding-bottom: 180px;

		.menu-subsection {
			@extend .menu-subsection
		}
	}
}

.menu-subsection {
	width: 100%;
	align-items: stretch;

	> h2 {
		margin: var(--spacing-sm) 0;
	}

	> button {
		width: 100%;
		padding: var(--padding-xs) 0;
		border-radius: 0;
		border-bottom: 1px solid #{$ToGoContainer};

		> div {
			display: flex;
			flex: 1;
			text-transform: initial;
			flex-direction: column;
			align-items: flex-start;
			color: #{$DeepGray};
			font-weight: normal;
			transition: text-indent 200ms ease-out;

			> h3 {
				color: #{$BlackTortoise};
			}

			&:hover {
				text-indent: 10px;
			}
		}

		> div:nth-child(2) {
			align-items: flex-end;
			flex-grow: 0;
			margin-right: var(--spacing-md);
		}
	}
}