@import './src/styles/colors';
// PAGINA DE ENDEREÇO

.search-bar {
	display: grid;
	grid-template-columns: 1fr;
	padding: var(--padding-md);
}

.locations {
	padding: 0 var(--padding-md);
}

.single-location {
	width: 100%;
	display: grid;
	grid-template-columns: 80px auto;
	align-items: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #{$ToGoContainer};
	padding: var(--padding-sm) 0;
	cursor: pointer;
	transition: background-color 200ms ease-in-out;

	&:hover {
		background-color: #{$ToGoContainer}80;
	}

	& > div:first-child {
		place-self: center;
	}

	& > div:last-child {
		text-align: left;
	}

}