@import './src/styles/colors';

.search-wrapper {
	position: relative;

	.search-suggest {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: white;
		z-index: 99;
		padding: var(--padding-md);
		transform: translateY(100%);
		transition: all 300ms ease-in-out;
		opacity: 0;
		pointer-events: none;
		height: 50vh;

		&.active {
			transform: translateY(0);
			opacity: 1;
			pointer-events: initial;
			height: 100vh;
		}

		> h2 {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
		}

		.recent-searches {
			list-style: none;
			padding: var(--padding-xs) 0;

			& > li > a {
				font-family: 'SF Pro Display', sans-serif;
				text-transform: none;
				justify-content: space-between;
				width: 100%;
				font-size: 16px;
				color: #{$redVermilionBird};
				padding: var(--padding-xs) var(--padding-sm);
			}
		}
	}
}

.search-bar {
	display: grid;
	grid-template-columns: auto 50px;
	place-content: stretch;
	place-items: stretch;
	gap: var(--spacing-sm);
	padding: 0 var(--padding-sm);

	> div {
		display: flex;

		&[class^="MuiFormControl-root"] {
			background-color: var(--ToGoContainer);
		}

		> button {
			width: 100%;
			background-color: var(--ToGoContainer);
			border-radius: var(--radii-sm);
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000AA;
	z-index: 99;
	opacity: 0;
	transition: opacity 200ms ease-in;
	pointer-events: none;

	&.overlay-active {
		opacity: 1;
		pointer-events: initial;
	}

	.box {
		position: absolute;
		background-color: white;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(-100%);
		transition: transform 300ms ease;
		pointer-events: none;

		border-bottom-left-radius: var(--radii-md);
		border-bottom-right-radius: var(--radii-md);

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 50px 40px auto 50px;
		align-items: center;
		justify-content: stretch;

		> button.done {
			color: #{$BlackTortoise};
			height: 100%;
			font-size: 16px;
			font-weight: normal;
			letter-spacing: -0.08px;
		}


		&.box-active {
			transform: translateY(0);
			pointer-events: initial;
		}
	}
}

.close-icon {
	place-self: end;
	padding: 0 var(--padding-md);
}

.buttons {
	display: flex;
	gap: var(--spacing-sm);
	padding: 0 var(--padding-md);

	> button {
		text-transform: initial;
		font-family: 'SF Pro Display', sans-serif;
		font-size: 18px;
		color: #{$DeepGray};
		border-bottom: 2px solid transparent;
		border-radius: 0;

		&:after {
			transition: all 200ms ease;
			$size: 0px;
			content: "";
			margin-left: var(--spacing-xs);
			width: #{$size};
			height: #{$size};
			border-radius: var(--radii-full);
			background-color: transparent;
		}
	}

	.active {
		border-color: #{$redVermilionBird};
		color: #{$BlackTortoise};

		&:after {
			$size: 10px;
			width: #{$size};
			height: #{$size};
			background-color: #{$redVermilionBird};
		}
	}
}

.tabs-wrapper {
	overflow-x: hidden;
	display: grid;

	> .tabs-scroll {
		display: grid;
		grid-template-columns: repeat(3, 100%);
		transition: transform 300ms ease-out;

		> div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: var(--padding-md);
			gap: var(--spacing-sm);
		}

		@for $i from 1 through 3 {
			&.col-#{$i} {
				$x: 100% * -($i - 1);
				transform: translateX($x);
			}
		}
	}

}