@use 'sass:math';
@import './src/styles/index';

.containerCart {
		padding: var(--padding-md) var(--padding-sm) 0;

		.headerContentCart {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& > h1 {
						font-weight: 700;
						font-size: pxToRem(20px);
						color: var(--BlackTortoise);
				}

				& > button {
						color: var(--redVermilionBird);
						text-transform: initial;

						& > span {
								font-weight: 700;
								font-size: pxToRem(14px);
						}
				}
		}

		.productsCart {
				position: relative;
				display: flex;
				justify-content: space-between;
				margin-top: var(--spacing-sm);
				padding-bottom: var(--padding-sm);
				border-bottom: 2px solid #{$DeepGray}20;

				.productsInfo {
						display: flex;

						.bubbleNumber {
								display: flex;
								align-items: center;
								background: var(--redVermilionBird);
								border-radius: var(--radii-xs);
								padding: var(--padding-xs);
								color: white;
						}

						& > div {
								display: flex;
								flex-direction: column;
								margin-left: var(--spacing-xs);

								span {
										font-size: pxToRem(12px);
										color: var(--DeepGray);
								}
						}
				}

				.productPrice {
						display: grid;
						font-family: 'SF Pro Display', sans-serif;
						place-items: center;
				}
		}


		.containerSummary {
				display: flex;
				flex-direction: column;

				.titleSummary {
						display: flex;
						margin-top: var(--spacing-uxl);
						margin-bottom: var(--spacing-md);

						& > h3 {
								display: flex;
								position: relative;
								font-size: pxToRem(20px);
								font-weight: 600;
								border-bottom: 3px solid var(--redVermilionBird);
						}
				}

				.credit {
						display: flex;
						justify-content: space-between;
						padding: var(--padding-sm);
						border-radius: 10px;
						background-color: var(--ToGoContainer);

						& > b {
								flex: 1;
								text-align: left;
								color: var(--BlackTortoise);
								text-transform: initial;
								font-size: 16px;
								font-weight: normal;
						}

						& > span:not(span[class^="Mui"]) {
								display: flex;
								align-items: center;
								border-radius: var(--radii-md);
								color: white;
								font-size: pxToRem(14px);
								font-family: 'SF Pro Display', sans-serif;
								padding: 2px var(--padding-xs);
								background-color: var(--redVermilionBird);
						}
				}

		}

		.productPriceTotal {
				margin-top: var(--spacing-md);
				gap: var(--spacing-sm);

				.productPriceResult {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding-bottom: var(--padding-xs);
						margin-bottom: var(--padding-xs);

						&:not(:last-child) {
								border-bottom: 1px solid #{$DeepGray}20;
						}

						& > h4, p, & > span {
								color: var(--DeepGray);
						}

						&:last-child {
								h4, p {
										font-size: pxToRem(18px);
										font-weight: bold;
										color: var(--BlackTortoise);
								}
						}
				}
		}

		.buttonCheckout {
				display: flex;
				flex: 1;
				width: 100%;
				margin-top: var(--spacing-md);
				padding: var(--padding-sm) 0;
		}
}

.appliedCoupon {
		> div {
				background-color: var(--ToGoContainer);
				padding: var(--padding-xs);
				border-radius: var(--radii-md);
				display: flex;
				justify-content: space-between;

				> span:first-child {
						font-weight: 500;
				}
		}

		> button {
				color: var(--redVermilionBird);
				display: flex;
				align-items: center;
				gap: var(--spacing-xs);
				background-color: transparent;
				border: none;
				padding: var(--padding-xs);
				cursor: pointer;
		}
}
