@import './src/styles/colors';

.containerAdditional {
  padding: var(--padding-sm);
  gap: var(--spacing-sm);
}

.couponCard {
  background: #{$redVermilionBird};
  color: white;
  padding: var(--padding-sm);
  border-radius: var(--radii-sm);
  box-shadow: -3px 6px 10px #{$redVermilionBird}70,
  3px 6px 10px #{$redVermilionBird}70;

  h1, h2 {
    color: white;
  }

  > h1, > h2 {
    font-family: "Bluu Suuperstar", serif;
    margin-bottom: var(--spacing-lg);
  }

  > div {
    width: 100%;
    text-align: right;
  }
}

.earnTip {
  margin-top: var(--spacing-md);
  padding: var(--padding-xs);
  line-height: 18px;
  font-size: 14px;
}